<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="RadccDataConnection"
      connectionString="Data Source=5.10.111.112\SQL2014,780;Initial Catalog=Radcc-admin_Data;User ID=Radcc-admin_dbuser;Password=Rdcc1234!"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" xdt:Transform="SetAttributes" xdt:Locator="Match(type)">
    </defaultConnectionFactory>
  </entityFramework>
</configuration>
