@{
    ViewBag.Title = "Rules and Policies";
}
<div class="container">
    <div id="UsefulLinksPanel" class="panel panel-default">
        <div class="panel-heading">
            <h4>Club Rules and Policies</h4>
        </div>
        <div class="">
            <ul class="nav nav-tabs nav-stacked">

                <li><a href="~/DocumentsForDownload/RDCC Club Rules.pdf" title="Click to view document">Club Rules</a></li>
                <li><a href="~/DocumentsForDownload/RDCC Competition Rules v9.pdf" title="Click to view document">Competition Rules</a></li>
                <li><a href="~/DocumentsForDownload/RDCC Child Protection Policy.pdf" title="Click to view document">Child Protection Policy</a></li>
                <li><a href="~/DocumentsForDownload/Nature Photography Definition.pdf" title="Click to view document">Nature Photography Definition</a></li>
            </ul>
        </div>
    </div>
</div>