@model IEnumerable<Radcc.Model.Models.Gallery>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add Image" , "AddImage", "Slider", null, new { id = "linkAddImage" } )
    @Html.ActionLink("Delete Image", "DeleteImages", "Slider", new { id = "linkDeleteImage" }, null)
</p>
@Html.Partial("~/Views/Shared/SliderPartial.cshtml", Model)