<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://rocesteranddistrictcamera.club</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>rocesteranddistrictcamera.club</MSDeployServiceURL>
    <DeployIisAppPath>rocesteranddistrictcamera.club</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>Radcc-admin</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="RadccDataConnection" Order="1" Enabled="True" xmlns="">
          <Destination Path="Data Source=5.10.111.112\SQL2014,780;Initial Catalog=Radcc-admin_Data;User ID=Radcc-admin_dbuser;Password=Rdcc1234!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Radcc.Data.Context.ApplicationDbContext, Radcc.Data" MigrationConfiguration="Radcc.Data.Migrations.Configuration, Radcc.Data" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>True</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RadccDataConnection-Web.config Connection String">
      <ParameterValue>Data Source=5.10.111.112\SQL2014,780;Initial Catalog=Radcc-admin_Data;User ID=Radcc-admin_dbuser;Password=Rdcc1234!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>