

    <div id="content" class="panel-body">

        <img src="~/Images/SiteImages/The Undercroft, Fountans Abbey by Clive Rowley.jpg" class="img-responsive center-block" title="The Undercroft, Fountains Abbey by Clive Rowley"/>
        
                   @*<video id="video" autoplay="autoplay">
          
          
                   <source src="~/Video/Competition2014-15.mp4" type="video/mp4" class="img-responsive" />
            
               </video>*@

       

    
            @*<div id="slider">
                <ul class="slides ">
                    <li class="slide"><img src="~/Images/SiteImages/HomepageSlider/TOWER BRIDGE by Paul Redshaw.jpg" class="img-responsive center-block"/></li>
                    @*<li class="slide"><img src="~/Images/SiteImages/LychGate.jpg" class="img-responsive center-block" /></li>
                    <li class="slide"><img src="~/Images/SiteImages/Robin.jpg" class="img-responsive center-block" /></li>
                    <li class="slide"><img src="~/Images/SiteImages/ThistleFly420.jpg" class="img-responsive center-block" /></li>
                    <li class="slide"><img src="~/Images/SiteImages/Backhoe.jpg" class="img-responsive center-block" /></li>
                    <li class="slide"><img src="~/Images/SiteImages/RocesterChurch.jpg" class="img-responsive center-block" /></li>
                    <li class="slide"><img src="~/Images/SiteImages/RocesterSnow.jpg" class="img-responsive center-block" /></li>
                    <li class="slide"><img src="~/Images/SiteImages/RocesteSign.jpg" class="img-responsive center-block" /></li>*@
               @* </ul>
    </div>*@
      
    </div>

</div>
<script>
    $(document).ready(function () {
        $('#slider').bxSlider();
        $('.bx-wrapper').width('100%');
    })



</script>
