@{
    ViewBag.Title = "About us";
}
<div class="">
    <section class="">
      

        <div id="AboutUs" class="col-md-offset-2 col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading"> 
                    <h3>@ViewBag.Title.</h3>
                </div>
                <div class="panel-body">
                    <div>
                        <img src="~/Images/SiteImages/RocesteSign.jpg" class="float-right" alt="Member Photograph" role="none"/>
                    </div>
                    <div>
                        <p>
                            Rocester and District Camera Club is based in Rocester and welcomes all keen photographers in the local area.
                        </p>
                        <p>
                            We have members who are passionate photographers of all skill levels.
                            We meet to discuss photography, share techniques and ideas.
                        </p>

                        <p>
                            We have regular talks from experts and compete in friendly photographic competitions but primarily to enjoy our passion with like-minded friends.
                        </p>
                        <p>   Just listening to the comments of the judge can improve your knowledge and help you produce better photographs. Our more experienced members are always willing to share their expertise and offer help and advice.
                        </p>
                        <p>
                           
                            We meet on the first and third Tuesday of every month at 7.30 for 8:00pm start in Rocester village hall committee room in the centre of Rocester from September to May each year.
                        </p>
                        <p>
                            In the summer months we arrange outings so that members can enjoy their photography together.
                            The annual membership subscription is only £25 per year (£12.50 for under 18yrs).
                            Visitors are always welcome for £3 per meeting.
                            Come along and meet us.
                        </p>

                    </div>

                 
                </div>
                </div> 



        </div>
    </section>
</div>