@{
    ViewBag.Title = "Contact Details";
}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>@ViewBag.Title</h3>
        </div>
        <div class="panel-body">

            <h4>You can contact the club using the email address below</h4>
            <br />
            <h4>admin@rocesteranddistrictcamera.club</h4>

        </div>
    </div>


</div>













