@model Radcc.Mvc.ViewModels.HomeViewModel
    @{
   
}

<div class="col=-md-8">
 
    <div id="NextMeetingSection" class="col-md-8 float-left">
        @Html.Action("_NextMeeting", "Programmes")

    </div>
    <div id="UsefulLinksSection" class="float-right col-md-4">

        @Html.Action("_UsefulLinks", "UsefulLinks")

    </div>

    
    
    @*<section id="MapSection" class="col-md-4">
        @Html.Partial("_Map")
    </section>*@

    <div id="slide-container" class="col-md-8">
        @Html.Partial("_ImageSlider")
    </div>

   
   
</div>
@*<footer class="div-radius">
    <section id="try" class="div-radius">
        </section>

</footer>*@
  